SECRET_KEY=example
DEBUG=False

EMAIL_HOST_USER=example@example.ru
EMAIL_HOST_PASSWORD=example
DEFAULT_FROM_EMAIL=example@example.ru

# для postgre
DB_NAME=example
DB_USER=example
DB_PASSWORD=example
# DB_HOST=localhost
DB_PORT=5432
# для докера
DB_HOST=db

# для docker compose
POSTGRES_DB=example
POSTGRES_USER=example
POSTGRES_PASSWORD=example